---
layout: default
title: Home
---

<div class="posts">
  <h1>About</h1>


  {% capture about_md %}
    {% include about.md %}
  {% endcapture %}
  {{ about_md | markdownify }}

  <h1>Posts</h1>

  {% for post in site.posts %}
  <article class="post">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
  </article>
  {% endfor %}
</div>
